/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/public/club-logos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/debugbar/
/_archive/
/public/css/
/public/js/
/public/club-logos/
